[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
postcode-validator-uk = "*"
prettyconf = "*"
python-status = "*"

[dev-packages]
codecov = "*"
ipdb = "*"
ipython = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-randomly = "*"

[requires]
python_version = "3.8.1"
